/*Navigation Bar Formatting*/

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: cornflowerblue;
}

.navbar li {
    float: left;
    border-right: 1px solid lightgrey;
}

.navbar li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

.navbar .active {
    background-color: lightgrey;
    color: cornflowerblue;
}

.navbar li a:hover:not(.active) {
    background-color: lightsteelblue;
}
/*Formattijng for headers*/
h1, h2 {
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /*Putting images besides text*/
ul.sideimage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.sideimage img{
    max-width: 200px;
    height: auto;
}
.sideimage li{
    flex: 1;
    list-style-type: none;
}
.column {
    float: left;
    width: 50%;
  }
  /* Container for overlaying text on image */
.overlay {
    position: relative;
    text-align: center;
    color: cornsilk;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
/*Website Background Colour*/
body {
    background-color: rgb(199, 217, 231);
  }
/*Colours button and removes underline from links in the visit cards*/
.visitcard button {
    background-color: cornflowerblue;
}
.visitcard a{
    text-decoration: none;
}/*For pictures that should be bigger*/
#bigimage {
    max-width: 400px;
    height: auto;
    margin: 20px;
}
