ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: cornflowerblue;
}

li {
    float: left;
    border-right: 1px solid lightgrey;
}

li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

.active {
    background-color: lightgrey;
    color: cornflowerblue;
}

li a:hover:not(.active) {
    background-color: lightsteelblue;
}