/*Navigation Bar Formatting*/
div.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: cornflowerblue;
}

div.navbar li {
    float: left;
    border-right: 1px solid lightgrey;
}

div.navbar li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

div.navbar .active {
    background-color: lightgrey;
    color: cornflowerblue;
}

div.navbar li a:hover:not(.active) {
    background-color: lightsteelblue;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /*Putting images besides text, or above if the screen is too small*/
ul.sideimage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
ul.sideimage img{
    max-width: 200px;
    height: auto;
}
ul.sideimage li{
    flex: 1;
}
  /* Container for overlaying text on image */
.overlay {
    position: relative;
    text-align: center;
    color: cornsilk;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
/*Website Background Colour*/
body {
    background-color: rgb(199, 217, 231);
  }